#ui-container {
  width: 100%;
  background: #19222F;
  transition: all 0.35s ease-in-out;
  color: #F5DEB3;
}

#navbar {
  height: 75px;
  background: linear-gradient(90deg, rgb(2, 0, 27), rgba(35, 0, 23, 0.5));
  border-bottom: 2px solid slategray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  font-size: 25px;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.511);
}

.notify-bell {
  color: rgb(197, 196, 196);
  transform: scale(1.2);
  transition: all 0.3s ease;
  filter: drop-shadow(1px 1px 3px rgba(56, 40, 116, 0.7));
}
.notify-bell:hover {
  background-color: rgba(128, 128, 128, 0.438);
  padding: 2px 2px;
  border-radius: 50%;
  transition: all 0.2s ease;
  cursor: pointer;
}

.nav-profile {
  transform: scale(0.75);
  position: relative;
  left: 20%;
}

.nav-side-left {
  width: 80%;
}

.nav-side-right {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-icon {
  position: relative;
  padding: 10px;
  font-size: 19.9px;
}
.toggle-icon .fa-regular {
  transition: all 0.1s;
}
.toggle-icon:last-child {
  visibility: hidden;
}

.animate-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 35px;
  background-color: #eee;
  border-radius: 18px;
  justify-content: end;
  padding-left: 3.5px;
  padding-right: 3.5px;
}
.animate-box .box-ball {
  height: 13px;
  width: 13px;
  background-color: #19222F;
  border-radius: 50%;
}

#notify-box {
  animation: color-changer 5s infinite;
  transition: all 0.3s ease;
  background: linear-gradient(45deg, white, white, rgb(245, 226, 229));
}

#cards-container {
  width: 80%;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

.card {
  height: 310px;
  width: 260px;
  border-radius: 10px;
  background: #bfc901;
}

.card-img-box {
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
}

.card-img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-details {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
}

#user-container {
  width: 100%;
  padding-left: 7%;
  padding-right: 7%;
}

#user-box {
  width: 100%;
  height: 80px;
  background-color: rgb(0, 123, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#user-box .user-icon {
  font-size: 38px;
}

.user-box-left {
  padding-left: 5%;
  display: flex;
  gap: 10px;
}
.user-box-left .user-welacome-name {
  position: relative;
  top: 5px;
  font-size: 20px;
  font-family: monospace;
}

.user-box-right {
  padding-right: 5%;
  display: flex;
  gap: 10px;
  font-weight: bold;
}

.personalize {
  text-transform: uppercase;
  position: relative;
  bottom: 5px;
}

.personalize-icon {
  font-weight: bold;
}

.user-nav-box {
  height: 50px;
  width: 95%;
  background-color: #F5DEB3;
  position: relative;
  left: 2.38%;
  bottom: 17px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  color: rgb(1, 59, 1);
  font-size: 24px;
  gap: 3%;
}
.user-nav-box .user-nav-first {
  display: flex;
}
.user-nav-box .user-nav-second {
  font-size: 20px;
  display: flex;
}
.user-nav-box .user-nav-icon-label {
  font-size: 16px;
  padding-left: 10px;
  position: relative;
  bottom: 1px;
  cursor: pointer;
}
.user-nav-box .triangle-1 {
  border-top: 25px solid transparent;
  border-right: 17px solid #F5DEB3;
  border-bottom: 25px solid transparent;
  transform: rotate(90deg);
  position: relative;
  right: 7px;
  bottom: 15.9px;
}

.components-container {
  width: 94.5%;
  padding-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  position: relative;
  left: 2.7%;
  font-weight: 600;
  font-size: 18px;
}

.user-component1,
.user-component2,
.user-component3 {
  padding-top: 2%;
  color: rgb(54, 53, 53);
}

.user-calender {
  border-radius: 5px;
  overflow: hidden;
  color: rgb(30, 56, 75);
}

.user-component2 {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.user-component2 .user-birthday,
.user-component2 .user-welcome {
  height: 233px;
  width: 395px;
  background: linear-gradient(90deg, white, rgb(244, 250, 237));
  border-radius: 5px;
}
.user-component2 .user-welcome {
  background: linear-gradient(90deg, white, rgb(243, 228, 238));
}

#birthday-box {
  padding-left: 12px;
  padding-right: 12px;
}

#birthday-box section {
  display: flex;
  padding-top: 12px;
}
#birthday-box section h1 {
  letter-spacing: 1px;
}
#birthday-box section article {
  font-size: 30px;
}

.user-component3 {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.user-component3 .user-learning,
.user-component3 .user-survey,
.user-component3 .user-morelinks,
.user-component3 .user-socialmedia {
  height: 233px;
  width: 395px;
  background: linear-gradient(90deg, white, rgb(230, 247, 242));
  border-radius: 5px;
}
.user-component3 .user-survey {
  background: linear-gradient(90deg, white, rgb(247, 239, 231));
}
.user-component3 .user-socialmedia {
  background: linear-gradient(90deg, white, rgb(247, 245, 233));
}/*# sourceMappingURL=main.css.map */